<div>
<h3>
<img src="<%= image_path("c.jpg") %>" alt="그림1", height=579px, width=500px> 
 <h2>신이 <%= @data %>를 만들 때?</h2>
 <h4><%= @f_factor1 %>을 일단 넣고, 
 어이쿠! <%= @f_factor2 %>을 실수로 넣어버렸네 ㅠ 
 마지막으로... <%= @f_factor3 %>을 헉쓰! 쏟아버렸네 허허</h4>

</div>